.buttons2{
background: #FFFFFF;
border: 1px solid #F1A501;
box-sizing: border-box;
color: #F1A501;
border-radius: 20px;
padding: 10px 30px;
font-family: Mulish;
font-style: normal;
font-weight: bold;
font-size: 15px;
text-align: center;
}
.buttons2:hover{
    background: #F1A501;
    color: #FFFFFF;
    border: 0px;
}
.CaruselImg{
    width: 50%;
}
.CaruselDiv{
    width: 30%;
    height: 370px;
}
.p-text{
    padding: 40px 0px;
    font-family: Mulish;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 30px;
color: #7D7987;

mix-blend-mode: normal;
}