.div-hover{
   max-width: 300px;
   background-color: #fff;
   border: 0px;
   outline: 0px;
   text-align: left;
   cursor: pointer;
}
.div-hover:hover{
    border-bottom:3px solid #F1A501;
}
.section1{
    height: 400px;
}
.p{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 18px;
    padding-right: 50px;
    color: #7B7878;
    width: 308px;
height: 54px;
}